*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainSections{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainSectionsBox{
    width: 50%;
    text-align: center;
    padding: 20px;
}
.section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sectionUm{
    box-shadow: inset 0 400px 400px 400px #3333330e;
}
.secUm{
    text-align: left;
    padding-left: 100px;
}
.secUm h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    margin-bottom: 10px;
    color: #0075FF;
}
.secUm p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: #fff;
    margin: 15px 0 15px 0;
}
.secUmDois{
    text-align: left;
    padding-right: 100px;
}
.secUmDois h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    margin-bottom: 10px;
    color: #fff;
}
.secUmDois p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: #fff;
    margin: 15px 0 15px 0;
}
.secUm button{
    padding: 8px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    background-color: #25D366;
    color: #fff;
}
.secUm button:hover{
    transform: scale(1.1);
    box-shadow: 4px 4px 4px  #33333333;
}
.imgSecUm{
    width: 300px;
    height: 300px;
    margin-bottom: 150px;
    background-color: #e4e4e4;
    border-radius: 50%;
    box-shadow: 8px 8px 8px 4px  #333;
}
.sectionUmSocial img:hover{
    transform: scale(1.1);
}





.sectionDois{
    color: orange;
    
}
.sectionTres{
    color: green;
    
}