.carrosselD{
    width: 100%;
    margin-top: -115px;
    color: #fff;
    border-radius: 5px;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}
.sliderCarrossel{
    text-align: center;
    color: #fff;
    border-radius: 5px;
    background: linear-gradient(to right, #000, #333);
    margin: 0 5px 0 5px;
    padding: 10px 0;
}
